# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.env

# IDEs
.vscode/
.idea/

# App Specific & Sensitive Data
config/api_keys.json
memory/
.jarvis_profiles/
.jarvis_logs/

# Assets/Captures
*.png
!Jarvis_Icon-removebg-preview.png
*.jpg
*.jpeg
*.mp3
*.wav
*.gif

# Exclusions
scratch/
*.onnx